:root {
    --color1: #832161;
    --color2: #DA4167;
    --color3: #3D2645;
    --color4: #E5E0D8;
    --color5: #000000;
}

body {
    background-color: var(--color5);
}

h1 {
    color: var(--color2);
    text-align: center;
}

h2 {
    color: var(--color3);
    text-align: center;
}

h5 {
    color: var(--color4);
}

p {
    color: var(--color4);
}

.about {
    margin-left: 60px;
    margin-right: 60px;
}

.about p {
    text-align: center;
}

.resume > ul {
    margin: 0;
    padding: 0;
}

.resume > ul > li {
    list-style: none;
}

.resume ul > li > ul {
    margin: 0 auto; 
    padding: 0;
    width: max-content;
}

.resume ul > li > ul > li {
    text-align: left;
}

.resume ul > li > ul > li::marker {
    color: pink;
}

.resume li h3 {
    color: var(--color1);
    text-align: center;
}

.resume li p {
    font-size: 10px;
}

footer a{
    text-decoration: none;
}

footer ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding:0;
}

footer li {
    display: inline-block;
    margin: 0 20px;
}